.titleAndButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.emptyBox {
    flex-basis: 30%;
}

.sponsersTitleDiv {
    flex-basis: 40%;
    text-align: center;
}
.addSpo{
    flex-basis: 30%;
}

.mainSponsersDiv {
    margin: 0 auto;
    text-align: center;
}

@media (max-width:768px) {
    .titleAndButtonDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

